html {
  scroll-behavior: smooth;
}

:root {
  --first-color: #f9f9f9;
  --second-color: #023047;
  --third-color: #C5A276;
  --fourth-color: #54b4ba;
  --fifth-color: #edede9;
  --background: linear-gradient(to left, #a8669b, #9b74ad, #8d82ba, #808ec2, #7699c5);
}

.dark {
  --first-color: #112240;
  --second-color: #8892b0;
  --third-color: #E5D8C8;
  --fourth-color: #219ebc;
  --background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-image: var(--background);
}

/* NAVBAR */
.navbar {
  width: 100%;
  margin: auto;
}

.navbar ul {
  text-align: right;
  margin: 0;
  padding: 50px 0;
}

.navbar ul li {
  float: none;
  display: inline-block;
}

.navbar ul li:nth-child(1),
.navbar ul li:nth-child(2),
.navbar ul li:nth-child(3) {
  float: left;
}

.navbar ul li a {
  margin: 0 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--second-color);
  font-weight: bold;
}

.section {
  display: inline-block;
  padding-bottom: 0.5rem;
  position: relative;
}

.section:hover {
  color: var(--fourth-color);
}

.section::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--fourth-color);
  transition: width 0.25s ease-in-out;
}

.section:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.toggle {
  position: absolute;
  right: 55px;
  top: 80px;
}

/* DARK TOGGLE */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 20px;
  background-color: var(--third-color);
  display: flex;
  border-radius: 50px;
  position: relative;
  top: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.ball {
  width: 25px;
  height: 25px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 3px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(29px);
}

.fa-moon {
  color: rgb(231, 231, 231);
}

.fa-sun {
  color: #f39c12;
}

/* SECTION PRESENTATION */

h1 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--second-color);
  text-align: center;
  padding: 30px 0;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.section-presentation {
  margin-top: 5%;
  justify-content: center;
  height: 760px;
}

.study {
  font-size: 7rem;
  text-align: center;
  font-weight: bold;
  color: var(--fifth-color);
  background-color: var(--fourth-color);
  padding: 0 20px;
}

.study:hover {
  color: var(--fourth-color);
}

.student {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: var(--third-color);
  text-align: center;
}

h2 {
  font-size: 4rem;
  font-weight: 900;
  margin: 0;
  color: var(--second-color);
  padding: 0 120px;
}

/* LEFT BAR */

.bar-left {
  position: fixed;
  bottom: 0px;
  left: 30px;
  z-index: 10;
}

.social-icon {
  position: relative;
  display: flex;
}

.social-icon::before {
  content: "";
  background-color: var(--second-color);
  width: 2px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.fa-brands:hover {
  color: var(--third-color);
  transition: all 0.35s ease-in-out;
  transform: scale(2);
}

.fa-brands {
  color: var(--second-color);
  font-size: 30px;
  position: absolute;
  bottom: 120px;
}

.fa-linkedin {
  bottom: 170px;
}

/* BUTTON */
#button-wrap {
  text-align: center;
}

.btn-slide {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 200px;
  line-height: 50px;
  padding: 0;
  border-radius: 50px;
  background: transparent;
  border: 2px solid var(--third-color);
  margin: 10px;
  transition: 0.5s;
}

.btn-slide:hover {
  background-color: var(--fourth-color);
  border: 2px solid var(--fourth-color);
}

.btn-slide:hover span.circle {
  left: 100%;
  margin-left: -45px;
  background-color: var(--first-color);
  color: var(--fourth-color);
}

.btn-slide:hover span.title {
  left: 40px;
  opacity: 0;
}

.btn-slide:hover span.title-hover {
  opacity: 1;
  left: 40px;
}

.btn-slide span.circle {
  display: block;
  background-color: var(--third-color);
  color: var(--first-color);
  position: absolute;
  float: left;
  margin: 5px;
  line-height: 42px;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  transition: 0.5s;
  border-radius: 50%;
}

.btn-slide span.title,
.btn-slide span.title-hover {
  position: absolute;
  left: 90px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: var(--third-color);
  transition: 0.5s;
}

.btn-slide span.title-hover {
  left: 80px;
  opacity: 0;
}

.btn-slide span.title-hover {
  color: #fff;
}

/* A PROPOS */
.a-propos {
  height: 600px;
  color: var(--second-color);
  position: relative;
  background-color: var(--fifth-color);
  padding: 20px 0;
}

.picture {
    text-align: center;
}

.picture img {
  height: 200px;
}

.a-propos::before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--fourth-color);
  position: absolute;
  border-radius: 50%;
  top: 76px;
  left: 97px;
}

.a-propos p {
  padding: 10px 150px;
  font-size: 1.25rem;
}

/* COMPETENCES */
.competences {
  position: relative;
  height: 400px;
  padding-top: 80px;
}

.competences h2::before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--fourth-color);
  position: absolute;
  border-radius: 50%;
  top: 134px;
  left: 97px;
}

.competences-section {
  display: flex;
  justify-content: center;
}

.competences h3 {
  font-weight: 700;
  color: var(--fifth-color);
  background-color: var(--fourth-color);
  border: 2px solid var(--fourth-color);
  border-radius: 20px;
  text-align: center;
  padding: 4px 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.competences-left,
.competences-right {
  padding: 0 150px;
}

.hard-skills,
.soft-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.hard-skills:hover,
.soft-skills:hover {
  background-color;
}

.competences-left p,
.competences-right p {
  border: 2px solid var(--second-color);
  color: var(--second-color);
  border-radius: 20px;
  text-align: center;
  padding: 4px 20px;
  margin: 0;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.soft-skills p:hover,
.hard-skills p:hover {
  background-color: var(--third-color);
  color: var(--fifth-color);
  border: 2px solid var(--third-color);
  cursor: pointer;
}

/* FORMATIONS */
.formations {
  position: relative;
  padding: 50px 0;
  background-color: var(--fifth-color);
  height: 480px;
}

.formations h2::before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--fourth-color);
  position: absolute;
  border-radius: 50%;
  top: 106px;
  left: 97px;
}

.hero {
  width: 80%;
  height: 500px;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
}

.btn-box {
  display: flex;
  border-bottom: 1px solid var(--second-color);
}

.btn-box button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 50px;
  font-weight: bold;
  font-size: 1.25rem;
}

.btn-box button:hover {
  color: var(--fourth-color);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(100%);
}

.content h3 {
  color: var(--fourth-color);
}

.content-left {
  flex-basis: 50%;
  padding-left: 20px;
}

.content-left p {
  padding: 20px;
}

.content-right {
  flex-basis: 50%;
  text-align: center;
}

#content1 {
  transform: translateX(0px);
}

#btn1 {
  color: var(--fourth-color);
  background-color: var(--second-color);
}

/* EXPERIENCES */
.experiences {
  position: relative;
  padding: 50px 0;
}

.experiences h2::before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--fourth-color);
  position: absolute;
  border-radius: 50%;
  top: 106px;
  left: 97px;
}

.timeline-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: var(--second-color);
  color: white;
  border-radius: 10px;
  margin: 10px 0 20px 0;
}

.timeline ul li:hover {
  background-color: var(--fourth-color);
  color: var(--second-color);
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: var(--second-color);
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-100px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(60px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--second-color);
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -40px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -40px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: var(--fourth-color);
  }
}